<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Księga 10</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Pan Tadeusz, czyli ostatni zajazd na Litwie: historia szlachecka z roku 1811 i 1812 we dwunastu księgach wierszem</h1>
    <h2>Spis treści</h2>
    <div class="content">
        <ul class="book-list">
            <li><a href="/k1">Księga 1</a></li>
            <li><a href="/k2">Księga 2</a></li>
            <li><a href="/k3">Księga 3</a></li>
            <li><a href="/k4">Księga 4</a></li>
            <li><a href="/k5">Księga 5</a></li>
            <li><a href="/k6">Księga 6</a></li>
            <li><a href="/k7">Księga 7</a></li>
            <li><a href="/k8">Księga 8</a></li>
            <li><a href="/k9">Księga 9</a></li>
            <li><a href="/k10">Księga 10</a></li>
            <li><a href="/k11">Księga 11</a></li>
            <li><a href="/k12">Księga 12</a></li>
        </ul>
        <img src="{{ url_for('static', filename='images/PanTadeusz.jpg') }}" class="image">
    </div>
    <p>Filip Moskała, Uniwersytet Ekonomiczny w Krakowie, ZIISN1-1212</p>
</body>
</html>
