body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #16a085;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    align-items: flex-start;
}

.book-list {
    flex: 1;
    margin-right: 20px;
}

.image {
    max-width: 50%;
    height: auto;
    margin-left: 20px;
}
